<!-- Book Section -->
<section id="book">
    <div class="book-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/tissal-small.jpg" alt="">
                </div>
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Book: Tissal Devark</h2>
                    <div class="lead"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor nisl at fringilla maximus. Curabitur at vestibulum mauris. Praesent a hendrerit leo. Morbi porttitor quam nec diam convallis, id vehicula magna finibus. In ipsum metus, mattis at finibus eu, feugiat eget diam. Ut condimentum ex quis metus tincidunt condimentum. Sed commodo augue tempor consequat pulvinar.</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
