<!-- Book Section -->
<section id="book">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/tissal-small.jpg" alt="">
                </div>
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Book: Tissal Devark And The Bright Spark</h2>
                    <div class="lead">
                        <p>
                            I am currently writing and illustrating a book about a seven year old boy who lives on a planet in a different solar system to ours. 
                        </p>
                        <p>
                            The book is about Tissal and his class taking a field trip with their teacher around their solar system to visit each of the planets, and their star, Ben. Their final destination in the book sees them venturing far out into space to see the Bright Spark, the being that produced their system, and everything else within time and space.
                        </p>
                        <p>                            
                            I am currently considering publishing options. If you would like to know more, please contact me: <a href="mailto:mrsrobinsonart@protonmail.com">mrsrobinsonart@protonmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
